{% extends 'ausgaben/main.html' %}
{% load crispy_forms_tags %}



{% block content %}

<h1 class="text-center">Analyse aller Daten</h1><br>


<form method="get">
    <div class="row g-2">
        <div class="col-sm-2">
            {{ myFilter.form.start_date|as_crispy_field }}
        </div>
        <div class="col-sm-2">
            {{ myFilter.form.end_date|as_crispy_field }}
        </div>
        <div class="col-sm-6">
            {{ myFilter.form.beschreibung|as_crispy_field }}
        </div>
        <div class="col-sm-2">
            {{ myFilter.form.kategorie|as_crispy_field }}
        </div>
    </div>
    <div class="row g-2">
        <div class="col-sm-10"></div>
        <div class="col-sm-2 d-grid">
            <button class="btn-lg btn-primary" type="submit">Suchen</button>
        </div>
    </div>
</form>

<br>


<table class="table">
    <tr class="table-dark">
        <th>Datum</th>
        <th>Betrag in €</th>
        <th>Beschreibung</th>
        <th>Kategorie</th>
        <th>Ändern</th>
        <th>Löschen</th>
    </tr>
    {% for rechnung in rechnungen %}
    <tr>
        <td>{{ rechnung.datum }}</td>
        <td>{{ rechnung.betrag }}</td>
        <td>{{ rechnung.beschreibung }}</td>
        <td>{{ rechnung.kategorie }}</td>
        <td><a class="btn btn-sm btn-info" href="{% url 'update_rechnung' rechnung.id %}">Ändern</a></td>
        <td><a class="btn btn-sm btn-danger" href="{% url 'delete_rechnung' rechnung.id %}">Löschen</a></td>
    </tr>
    {% endfor %}
</table>



{% endblock %}